.main {
    //background-color: green;

    grid-row: 2 / 2;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(4rem, 1fr) repeat(4, minmax(8rem,min-content)) minmax(4rem, 1fr);

    &-con {
        padding: 2rem;

        grid-row: 2 / 4;
        grid-column: 2 / 6;

        text-align: center;
    }
}


//the add new song section
.add {
    //background-color: green;

    grid-row: 2 / 2;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(4rem, 1fr) repeat(4, minmax(8rem,min-content)) minmax(4rem, 1fr);

    &-con {
        background-image: linear-gradient(120deg, #00a2ff,rgb(0, 255, 0));
        padding: 2rem;

        grid-row: 2 / 4;
        grid-column: 2 / 6;

        text-align: center;
    }

    //the text fields
    &-s {
        width: 60%;
        font-size: 1.5rem;
        padding: 5px 1rem;
        font-family: $font-display;
    }

    &-verse {
        //padding: 10px;
        width: 60%;
        font-size: 1.5rem;
        padding: 5px 1rem;
        font-family: $font-display;

    }

    &-separator {

        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    &-btn {
        width: 60%;
        padding: 5px;
        font-family: $font-display;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: transparent;
        }
    }
}